.contenedor-principal {
    padding: 2px;
    background-color: #f9f9f9;
    border-radius: 10px;

}

.contenedor-principal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contenedor-principal ul li {
    padding: 6px 0;

}

.contenedor-principal ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.contenedor-principal ul li a:hover {
    background-color: #e3e3e3;
    color: #333;
    border-radius: 10px;
}

.contenedor-principal ul li a i {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

#icons-icon-implantes,
#icons-icon-consignacion,
#icons-icon-administrativa,
#icons-icon-prestaciones,
#icons-icon-accesos{
    color: #333;
}


#check-icon-implantes,
#check-icon-consignacion,
#check-icon-administrativa,
#check-icon-prestaciones,
#check-icon-accesos{
    color: #4CAF50;
}

@media (max-width: 768px) {
    .contenedor-principal {
        padding: 15px;
    }

    .contenedor-principal ul li a {
        font-size: 16px;
        padding: 6px 10px;
    }

    #icons-icon {
        font-size: 18px;
    }

    #check-icon {
        font-size: 16px;
    }
}
