.contenedor-seccion {
    padding: 0px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-left: 20px;

}

.contenedor-seccion h3 {
    color: #333;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 10px 10px;
    cursor: pointer;
}

.contenedor-seccion h3:hover {
    background-color: #e3e3e3;
    color: #333;
    border-radius: 10px;
    padding: 10px 10px;

}

.fas.fa-check-circle {
    color: #4CAF50;
}

.contenedor-seccion ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contenedor-seccion ul li {
    padding: 4px 0;
}

.contenedor-seccion ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.contenedor-seccion ul li a:hover {
    background-color: #e3e3e3;
    color: #333;
    border-radius: 10px;
}

.contenedor-seccion ul li a i {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}



.fas.fa-chevron-right {
    transition: transform 0.3s ease;
    color: #4CAF50;
}

.rotated {
    transform: rotate(90deg);
}

