.form-casillas-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.form-casillas-container button {
    padding: 6px 15px;
    font-size: 12px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-casillas-container button:hover {
    background-color: #c0392b;
}

.bttn-casillas {
    margin-right: 10px;
}

.bttn-texto-casillas {
    font-size: 14px;
    color: #e74c3c;
}

.bttn-texto-casillas i {
    margin-right: 8px;
    color: #e74c3c;
}

.bttn-casillas i {
    color: white; 
}