.submenu {
    list-style-type: none;
    background-color: white;
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 30px;
    width: 150px;
}

.submenu li a {
    padding: 2px 6px; /* Reducir aún más el padding vertical y horizontal */
    color: #666;
    font-size: 12px; /* Reducir el tamaño de fuente si es necesario */
}

.submenu li a:hover {
    background-color: #16a085;
    color: white;
    border-radius: 10px;
}

.submenu li {
    padding: 0px; /* Eliminar casi todo el padding vertical entre los elementos */
    font-size: 13px; /* Reducir el tamaño de fuente si se desea más compacto */
    display: flex;
    align-items: center;
}

.submenu li a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 2px 6px; /* Reducir el padding dentro de los enlaces */
}

.submenu li a:hover {
    background-color: #ececec;
    border-radius: 10px;
}

.submenu li i {
    font-size: 14px; /* Reducir el tamaño de los íconos */
    margin-right: 10px; /* Reducir el espacio entre el ícono y el texto */
    color: #333;
}

/* Reducir aún más el espacio entre los elementos */
.submenu li + li {
    margin-top: 0px; /* Reducir al mínimo el espacio entre los elementos */
}


.fas.fa-caret-right {
    color: #4CAF50; /* Color verde */
}