* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Arial', sans-serif;
    background: url('../../Img/Banner-Index.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }

  .change-password-container {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      padding: 40px;
      width: 100%;
      max-width: 400px;
  }


  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  h2 {
    text-align: left;
    color: #333;
    margin: 0;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .input-group {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .input-group input {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  .input-group input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
  }

  .input-group label {
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 14px;
    color: #007BFF;
    background-color: #fff;
    padding: 0 5px;
  }

  .login-btn {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .login-btn:hover {
    background-color: #0056b3;
  }

  .footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
  }

  .footer p {
    margin: 5px;
  }

  .footer a {
    text-decoration: none;
    color: #4CAF50;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .error-message {
    color: red;
    font-size: 12px;
    text-align: center;
  }